body {
  padding-top: 70px;
}
footer {
  margin-top: 100px;
  border-top: 1px solid rgb(229, 229, 229);
  padding-top: 40px;
  padding-bottom: 30px;
}

.npoacct-navbar.navbar-default {
  background-color: #577632;
}

.npoacct-navbar.navbar-default .navbar-nav > li > a:focus,
.npoacct-navbar.navbar-default .navbar-nav > li > a:active,
.npoacct-navbar.navbar-default .navbar-nav > li > a:hover,
.npoacct-navbar.navbar-default .navbar-nav > li > a,
.npoacct-navbar.navbar-default .navbar-brand,
.npoacct-navbar.navbar-default .navbar-text,
.npoacct-navbar {
  color: white;
}
.npoacct-navbar .createlink a:focus,
.npoacct-navbar .createlink a:active,
.npoacct-navbar .createlink a:hover,
.npoacct-navbar .createlink a {
  color: #ce1f1f;
}
a.idOnly {
text-decoration: none !important;
}